<% const pageTitle = 'Tags' %>
<%- include('_header') %>

<h1>Tags</h1>

<% if (tags.length === 0) { %>
  <p>No tags yet. Add one from any book detail page.</p>
<% } else { %>
  <ul class="tag-list">
    <% tags.forEach(function(t) { %>
      <li>
        <a href="/tags/<%= t.slug %>" class="pill pill-tag"><%= t.name %></a>
        <span class="hint"><%= t._count.books %> book<%= t._count.books === 1 ? '' : 's' %></span>
      </li>
    <% }) %>
  </ul>
<% } %>

<%- include('_footer') %>
